.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
}
.about-section,.mission-section,.history-section,.team-section {
  border: 2px solid grey;
  padding: 1rem;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.about-section:hover ,.mission-section:hover ,.history-section:hover ,.team-section:hover {
  transform: translateY(-25px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.about-page h1 {
  font-size: 3rem;
  font-style: oblique;
  margin: 50px 0 20px 0;
  
}
.about-page h2{
  font-size: 2.3rem;
  font-family: roboto;
  font-style: oblique;
}
.about-page p {
  font-family: roboto-mono;
  font-size: 1.3rem;
}
.team-section {
  display: flex;
  gap: 20px;
  max-width: 100%;
  align-self: stretch;
  border: none;
}

.team-card {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
}
.team-card h3 {
  font-size: 2rem;
  font-family: roboto;
  font-style: oblique;
  margin-top: 50px;
}
.team-card img {
  width: 60%;
  aspect-ratio: 1/1;
  justify-self: center;
  transition: all 0.6s;
  transform: translateY(0);
  transition: all 0.6s;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0.5 rgb(110, 109, 109);
}
.team-card img:hover {
  width: 80%;
  transform: translateY(50px);
  transition: all 0.6s;
}