.menu-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.appetizers,.main-courses,.desserts,.beverages{
  border: 2px solid grey;
  padding: 1rem;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s, box-shadow 0.3s; 
}
.appetizers:hover ,.main-courses:hover ,.desserts:hover ,.beverages:hover {
  transform: translateY(-25px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1); /* Enhance shadow on hover */
}

.menu-page h2{
  font-size: 2.3rem;
  font-family: roboto;
  font-style: oblique;
}
.menu-page h3{
  font-size: 2rem;
  font-family: roboto;
  font-style: oblique;
}
.menu-page p {
  font-family: roboto-mono;
  font-size: 1.3rem;
}
.menu-page span {
  font-family: roboto;
  font-size: 1.6rem;
}